.taskContainer{
    width: 500px;
    margin: 50px auto;

    display: flex;
    flex-direction: column;
}

.taskCreateForm{
    display: flex;
    gap: 5px;
}

.input{
    flex-grow: 1;
    border: 1px solid #999;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

.button{
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
}

.taskList{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    font-size: 20px;
}